<mat-list role="list" class="exercise-list">
  <mat-list-item role="listitem" *ngFor="let exercise of exercises; index as i">
    <div
      class="exercise-list-item"
      [ngClass]="{ 'is-disabled': exercise.disabled }"
    >
      {{ exercise.name }}
      <span>
        <button
          mat-icon-button
          color="accent"
          (click)="handleEditClick(exercise)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          *ngIf="exercise.disabled; else elseDisableBtn"
          mat-icon-button
          (click)="handleDisableEnableClick(exercise, false)"
        >
          <mat-icon>done</mat-icon>
        </button>
        <ng-template #elseDisableBtn>
          <button mat-icon-button (click)="handleDisableEnableClick(exercise, true)">
            <mat-icon>close</mat-icon>
          </button>
        </ng-template>
      </span>
    </div>
    <mat-divider *ngIf="exercises.length - 1 > i"></mat-divider>
  </mat-list-item>
</mat-list>
